.navbar{
    height: 76px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}
.leftNav{
    display: flex;
    align-items: center;
    
}
.logoBox{
    margin-left: 20px;
}
.logo{
    height: 50px;
}
.navLink{
    padding-left: 40px;
    display: flex;
    gap: 30px;
    color: #ffffff80;
}
body{
    font-family:'Teko', 'Oswald', sans-serif;
    font-size: 20px;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
   
}
a:hover{
    color: #ffffff;
}
a:focus{
    color:#f2a900;
    outline: none;
}
.socialIconsContainer{
    display: flex;
    align-items: center;
    gap: 1px;
    
}
.socialIcons{
    margin-right: 10px;
}
.navBtn{ 
   
    height: 76px;
    background-color: #f2a900;
    width: auto;
    font-weight: 700;
    font-size: 18PX;
    color: #333;
    padding-left: 18PX;
    padding-right: 18px;
    line-height: 76px;
    
}

.coverVideo{
    height: 759.938px;
  
    /* width: 100%; */
    /* background-color: #00bcf5; */
}
.videoSec{
    width: 100%;
    /* object-fit: cover; */
    position: absolute;
    z-index: 0;
}

.coverContent{
    position: relative;
    height:759.938px ;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    padding-left: 80px;
}
.coverText{
    color: #530c0a;
    font-weight: 700;
    font-size: 72px;
    line-height: 0.9em;
    height: 200px;
}
.appStore{
    background-image: url(https://www.battlegroundsmobileindia.com/common/img/btn/btn_appstore_202.png);
    width: 202px;
    height: 60px;
    display: inline-block;
    margin-right: 5px;
}
.playStore{
    background-image: url(https://www.battlegroundsmobileindia.com/common/img/btn/btn_googleplay_202.png);
    width: 202px;
    height: 60px;
    display: inline-block;

}

.coverFooter{
position: absolute;
top: 680px;
right: 80px;
}
.youtubeContainer{
    background-image: url(https://www.battlegroundsmobileindia.com/common/img/main/videot_bg.jpg);
    background-size: cover;
    height: 850px;
    margin-top: -55px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.youtubeContainer .content{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    height: 100%;
}

.title{
    font-family: "Headliner-No-45";
    font-size: 55px;
    font-weight: normal;
    color: #333;
}

.videoWrapper iframe{
   
    height: 700px;
    width: 100%;
}
.newsSection{
    background-image: url(https://www.battlegroundsmobileindia.com/common/img/main/news_bg.jpg);
    height: 620px;
    background-size: cover;
    padding: 100px 0;
    
}

.newsSection .content{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    height: 100%;
}
.newsSlide{
    width: 1210px;
    margin: auto;
    display: flex;
    gap: 15px;
}

.newsSlide .slide{
    height: 345px;
    width: 399px;
    background-color: #ffffff;
}

.slide .slideImg{
    height: 210px;
}
.newsImg{
    width: 100%;
}
.slideData{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 20px;
    padding-top: 10px;
}
.slideData .slideTitle{
    margin-top: 5px;
    font-size: 22px;
    height: 2.4rem;
    color: #333;
}

.slideData .slideAbout{
   
    font-size: 20px;
    margin-top: 10px;
    color: #999;
    min-height: 15px;
    
}
.slideData .slideDate{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #999;
}

.newsViewMore{
    margin: 50px auto 0;
    font-size: 20px;
    color: #666;
    min-width: 200px;
    height: 50px;
    font-family: 'Teko', 'Oswald', sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: #d5d5d5;
   background-color: transparent;
}

.newsVideoPanel{
    height: 600px;
    background-image: url(https://www.battlegroundsmobileindia.com/common/img/main/video_bg.jpg);
    padding-top: 100px;
    background-size: cover;
}
.newsVideoTitle{
    color: #ffffff;
    font-family: "Headliner-No-45";
    font-size: 55px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    
    text-align: center;
}
@font-face {
    font-family: Headliner-No-45;
    src: url(/HeadlinerNo.45\ DEMO.ttf);
}